div {
    display: block;
}
  
    .fakeimg {
      
      width: 75%;
      height: 300px;
      padding: 1px;
      border-radius: 10px;
      -webkit-box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
      -moz-box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
      box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
    }
  
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
      }
      
      td, th {
        padding: 4px;
        text-align: center;
        }