<div class="navbar">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Domowe</a>
    
    <div class="dropdown-content">
      <a (click)="showContent()">Buty</a>
      <a (click)="showContent2()">rośliny</a>
    </div>
  </li>

  <li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">Biurowe</a>
    <div class="dropdown-content">
    <a (click)="showContent()">Buty</a>
    <a (click)="showContent2()">rośliny</a>
  </div>
</li>

  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Ubrania</a>
    
    <div class="dropdown-content">
      <a (click)="showContent()">Buty</a>
      <a (click)="showContent2()">rośliny</a>
    </div>
  </li>

  </div>


<div *ngIf="showComponent">
    <app-buty></app-buty>
  </div>

  <div *ngIf="showComponent2">
    <app-roliny></app-roliny>
  </div>

