<div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Kategorie 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
          
        </div>
        <div class="row">
          <div class="column">
            <h3>Ogródek</h3>
            <a href="#">Roślny</a>
            <a href="#">Ozdoby</a>
            <a href="#">Meble ogrode</a>
          </div>
          <div class="column">
            <h3>Dom</h3>
            <a href="#">Środki czystości</a>
            <a href="#">Meble</a>
            <a href="#">Ozdoby</a>
          </div>
          <div class="column">
            <h3>AGD</h3>
            <a href="#">Do biura</a>
            <a href="#" >Sprzęt do grania</a>
            <a href="#" >Domowe AGD</a> 
          </div>
          <div class="column">
            <h3>Ubrania</h3>
            <a href="#">Sportowe</a>
            <a href="#" >Wyjściowe</a>
            <a href="#" >Na codziń</a> 
          </div> 
        </div>
         </div>
    </div> 
    <a class="" >Okazje</a>
    <a href="#promocje">Promocje</a>
  </div>
