<div class="row">
</div>
  

  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but_2.png" alt= ></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/buty1.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/buty3.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but4.png" alt="Invalid error"></td>
      
    </tr>
    <tr>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but5.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but6.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/kalosze.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but18.png" alt="Invalid error"></td>
    </tr>

    <tr>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but10.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but11.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but12.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but13.png" alt="Invalid error"></td>
    </tr>

    <tr>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but14.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but15.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but16.png" alt="Invalid error"></td>
      <td><img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/but17.png" alt="Invalid error"></td>
    </tr>
    <app-pagination></app-pagination>
  </table>
      
      
      

