div {
    display: block;
}
  
  /* Add a card effect for articles */
   .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    }
    
 /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }

    /* Fake image */
    .fakeimg {
        background-color: rgb(138, 133, 133);
        width: 20%;
        padding: 2px;
        border-radius: 10px;
      }

   
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #222121;
      }