* {
  box-sizing: border-box;
  border-radius: 10px;
}
body {
    background: #f1f1f1;
    line-height: 26px;
  }
 

div {
    display: block;
}

  
  p {
    font-family: verdana;
    font-size: 20px;
  }


  .fe {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fe:hover {
      opacity: 0.7;
  }

  .fe-linkedin {
    background: #007bb5;
    color: white;
  }

  .fe-facebook {
    background: #3B5998;
    color: white;
  }

  .navbar {
      overflow: hidden;
      background-image: linear-gradient(to right, rgb(248, 197, 88) ,rgb(151, 140, 140));
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      border-radius: 15px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      border-radius: 10px;
      font: inherit;
      margin: 0;
    }
    
    .chair {
      position: relative;
      width: 370px;
      height: 350px;
      top: auto;
      right: 110px;
      
      border-radius: 10px;
    }
    .chair2 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      right: 40px;

      border-radius: 10px;
    }
    .chair3 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      left: 30px;
      border-radius: 10px;
    }
    .chair4 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      left: 100px;
      border-radius: 10px;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      border-radius: 10px;
      width: 100%;
      left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content .header {
      background: red;
      padding: 16px;
      color: white;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
      border-radius: 10px;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      background-color: #ccc;
      height: 250px;
    }
    
    .column a {
      float: none;
      color: black;
      padding: 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-radius: 10px;
    }
    
    .column a:hover {
      background-color: #ddd;
      border-radius: 10px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(138, 133, 133);
    width: 50%;
    padding: 2px;
    border-radius: 0px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    }
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        height: auto;
      }
    }
      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .topnav a {
        float: none;
        width: 100%;
      }
    }
  

      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button1 {
        background-color: rgb(164, 250, 193) ; 
        color: white; 
        border: 2px solid #e7e7e7;
      }
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }


      .pagination2 a {
        color: black;
        position: relative;
        top: 160px;
        left: 700px;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      
      .pagination2 a.active {
        
        color: rgb(247, 135, 8);
      }
      
      .pagination2 a:hover:not(.active) {
        background-color: #d69393;
        border-radius: 10px;
      }

      
     
      

      .row::after {
        content: "";
        display: table;
        clear: both;
      }

     
      
   
      
    
        /* Footer */
      .footer {
      padding: 20px;
      text-align: center;
      background: #ddd;
      margin-top: 20px;
    }
    
   

