<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1 id = "Logo">Shopcenter</h1>
  <hr class="outset">
  
  <div class="topnav">
    
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class ="material-icons">search</i></button>
      </form>
    </div>
    <a href="#heart" class = "material-icons" >favorite</a>
    <a href="#heart" class = "material-icons" >shopping_cart</a>
    <a href="#heart" class = "material-icons" >storefront</a>
  </div>
  

  <div class="navbar">
    
    <div class="dropdown">
      <button class="dropbtn">Kategorie 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
          
        </div>   
        <div class="row">
          <div class="column">
            <h3>Ogródek</h3>
            <a href="#">Roślny</a>
            <a href="#">Ozdoby</a>
            <a href="#">Meble ogrode</a>
          </div>
          <div class="column">
            <h3>Dom</h3>
            <a href="#">Środki czystości</a>
            <a href="#">Meble</a>
            <a href="#">Ozdoby</a>
          </div>
          <div class="column">
            <h3>AGD</h3>
            <a href="#">Do biura</a>
            <a href="#" >Sprzęt do grania</a>
            <a href="#" >Domowe AGD</a> 
          </div>
         </div>
         </div>
    </div> 
    <a href="#oklazje">Okazje</a>
    <a href="#promocje">Promocje</a>
  </div>
   <hr class="outset">
   
   <div id="sidebar">
    <h3>Meble do domu i nie tylko</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/chair.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/chair2.png" alt="Tekst alternatywny">
    <img class="chair3" src="assets/zdjęcia na strone/chair3.png" alt="Tekst alternatywny">
    <img class="chair4" src="assets/zdjęcia na strone/chair4.png" alt="Tekst alternatywny">
    <div class="pagination2">
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
  </div>

  
  <hr class="outset">
  
  <div id="sidebar">
    <h3>Obuwie</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/but_2.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/buty1.png" alt="Tekst alternatywny"> 
    <img class="chair3" src="assets/zdjęcia na strone/buty3.png" alt="Tekst alternatywny"> 
    <img class="chair4" src="assets/zdjęcia na strone/kalosze.png" alt="Tekst alternatywny"> 
    <div class="pagination2">
      
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
  </div>
  
  <hr class="outset">
  
  <div id="sidebar">
    <h3>Rośliny do domu i nie tylo</h3>
    <p></p>
    <img class="chair" src="assets/zdjęcia na strone/aloes.png" alt="Tekst alternatywny"> 
    <img class="chair2" src="assets/zdjęcia na strone/cactus.png" alt="Tekst alternatywny"> 
    <img class="chair3" src="assets/zdjęcia na strone/cactus2.png" alt="Tekst alternatywny"> 
    <img class="chair4" src="assets/zdjęcia na strone/flower.png" alt="Tekst alternatywny"> 
    <div class="pagination2">
      
      <a href="#" class="active"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      <a href="#"> • </a>
      
    </div>
   
  </div>
  <hr class="outset">
  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: 'yyyy' }} {{ config?.footer }}
      </div>
    </div>
  </footer>
</body>

