<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  

  <app-logo></app-logo>
  <app-navbar></app-navbar>
  

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        
        
        <img class="fakeimg" style="height:400px;" src="assets/zdjęcia na strone/but_2.png" alt="Tekst alternatywny">
       <h2> <button (click)="showShoes()">Dobre buty to podstawa ...</button> </h2>
        
       <p> {{displayShoe}} </p>
      </div>
      <div class="card">
        
       
        <img class="fakeimg" style="height:400px;" src="assets/zdjęcia na strone/aloes.png" alt="Tekst alternatywny"> 
        <h2><button (click)="showAloes()">Czy wiedziałeś że...</button></h2>
        <p>{{displayAloes}}</p>
      </div>
    </div>

    <div class="rightcolumn">
      <div class="card">
        <h2>HITY TYGODNIA</h2>
        <img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/tableware.png">
        <p>Super atrakcyjene ceny</p>
      </div>
      
      <div class="card">
        <h3>Sprawdzi nas na Socialach!</h3>
       
      </div>
    </div>
  </div>
  


  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">

        {{ config?.date | date: 'yyyy' }} {{ config?.footer }}
      </div>
    </div>
  </footer>

</body>

