<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <h1 id = "Logo">Shopcenter</h1>
  <hr class="outset">
  
  <div class="topnav">
    
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Czego szukasz?" name="search">
        
        <button type="submit"><i class ="material-icons">search</i></button>

      </form>
    </div>
    
    <a href="#heart" class = "material-icons" >favorite</a>
    <a href="#heart" class = "material-icons" >shopping_cart</a>
    <a href="#heart" class = "material-icons" >storefront</a>
  </div>
  

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">Kategorie 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="header">
          
        </div>
        <div class="row">
          <div class="column">
            <h3>Ogródek</h3>
            <a href="#">Roślny</a>
            <a href="#">Ozdoby</a>
            <a href="#">Meble ogrode</a>
          </div>
          <div class="column">
            <h3>Dom</h3>
            <a href="#">Środki czystości</a>
            <a href="#">Meble</a>
            <a href="#">Ozdoby</a>
          </div>
          <div class="column">
            <h3>AGD</h3>
            <a href="#">Do biura</a>
            <a href="#" >Sprzęt do grania</a>
            <a href="#" >Domowe AGD</a> 
          </div>
         </div>
         </div>
    </div> 
    <a class="" >Okazje</a>
    <a href="#promocje">Promocje</a>
  </div>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        
        
        <img class="fakeimg" style="height:400px;" src="assets/zdjęcia na strone/but_2.png" alt="Tekst alternatywny">
       <h2> <button (click)="showShoes()">Dobre buty to podstawa ...</button> </h2>
        <p> {{displayShoe}} </p>
      </div>
      <div class="card">
        
       
        <img class="fakeimg" style="height:400px;" src="assets/zdjęcia na strone/aloes.png" alt="Tekst alternatywny"> 
        <h2><button (click)="showAloes()">Czy wiedziałeś że...</button></h2>
        <p>{{displayAloes}}</p>
      </div>
    </div>

    <div class="rightcolumn">
      <div class="card">
        <h2>HITY TYGODNIA</h2>
        <img class="fakeimg" style="height:200px;" src="assets/zdjęcia na strone/tableware.png">
        <p>Super atrakcyjene ceny</p>
      </div>
      <div class="card">
        <h2>POLECAMY</h2>
        <li><img class="fakeimg" src="assets/zdjęcia na strone/gel1.png"(click)="showGel()"></li>
        <p>{{displayprize}}</p>
        <li><img class="fakeimg" src="assets/zdjęcia na strone/led.png"(click)="showLed()"></li>
        <p>{{displayprize2}}</p>
        <li><img class="fakeimg" src="assets/zdjęcia na strone/gel.png"(click)="showGel2()"></li>
        <p>{{displayprize3}}</p>
        
      </div>
      <div class="card">
        <h3>Sprawdzi nas na Socialach!</h3>
        <a href="#" class="fe fe-facebook"></a>
        <a href="#" class="fe fe-linkedin"></a>
      </div>
    </div>
  </div>
  
  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: 'yyyy' }} {{ config?.footer }}
      </div>
    </div>
  </footer>

</body>

