body {
    background-color: rgb(252, 252, 252);
    line-height: 26px;
  }
 

div {
    display: block;
}

  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  #Logo{
    color: rgb(80, 76, 76);
    position: relative;
        
       
    
    
    text-shadow: 3px 3px #00000049;
    font-family: fantasy;
    font-size: 70px;

  }
  #sidebar {
   
    background-color: #dae3e9;
    color: #ffffff;
    padding: 200px 185px;
    width: 1500px;
    bottom: 0;
    position: relative;
    border-radius: 10px;  
  } 


  .navbar {
      overflow: hidden;
      background-image: linear-gradient(to right, rgb(248, 197, 88) ,rgb(151, 140, 140));
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 10px;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      border-radius: 15px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      border-radius: 10px;
      font: inherit;
      margin: 0;
    }
    
    .chair {
      position: relative;
      width: 370px;
      height: 350px;
      top: auto;
      right: 110px;
      
      border-radius: 10px;
    }
    .chair2 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      right: 40px;

      border-radius: 10px;
    }
    .chair3 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      left: 30px;
      border-radius: 10px;
    }
    .chair4 {
      position: relative;
      width: 370px;
      height: 350px;
      top: 5px;
      left: 100px;
      border-radius: 10px;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: red;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      border-radius: 10px;
      width: 100%;
      left: 0;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content .header {
      background: red;
      padding: 16px;
      color: white;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
      border-radius: 10px;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
      background-color: #ccc;
      height: 250px;
    }
    
    .column a {
      float: none;
      color: black;
      padding: 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-radius: 10px;
    }
    
    .column a:hover {
      background-color: #ddd;
      border-radius: 10px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        height: auto;
      }
    }

      .topnav .search-container {
        float: right;
        
      }
      
      .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border-radius: 15px;
      }
      
      .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border-radius: 10px;
        cursor: pointer;
      }
      p.outset {border-style: outset;}

      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      
      .button1 {
        background-color: rgb(164, 250, 193) ; 
        color: white; 
        border: 2px solid #e7e7e7;
      }
     


      .pagination2 a {
        color: black;
        position: relative;
        top: 160px;
        left: 700px;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      
      .pagination2 a.active {
        
        color: rgb(247, 135, 8);
      }
      
      .pagination2 a:hover:not(.active) {
        background-color: #d69393;
        border-radius: 10px;
      }

      .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 27px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #2196F3;
        color: white;
      }
      
      .topnav .search-container {
        float: left;
        margin-left: 16px;
        margin-inline: 8px;
      }
      
      .topnav input[type=text] {
        
        font-size: 27px;
       
      }
     

     
      .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 27px;
        border: none;
        cursor: pointer;
      }
      
      .topnav .search-container button:hover {
        background: #ccc;
      }
      
      @media screen and (max-width: 600px) {
        .topnav .search-container {
          float: none;
        }
        .topnav a, .topnav input[type=text], .topnav .search-container button {
          float: none;
          display: block;
          text-align: left;
          width: 100%;
          margin: 0;
          border-radius: 10px;
          padding: 14px;
        }
        .topnav input[type=text] {
          border: 10px solid #ccc;  
        }
   
      }

   

