div {
    display: block;
    border-radius: 10px;
}

p {
    font-family: verdana;
    font-size: 20px;
  }

  #Logo{
    color: rgb(80, 76, 76);
    position: relative;
    text-shadow: 3px 3px #00000049;
    font-family: fantasy;
    font-size: 70px;
    
  }

  .topnav {
    overflow: hidden;
    background-color: #cec9c9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
      border-radius: 10px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
      
    }
  }