* {
    box-sizing: border-box;
    border-radius: 10px;
  }
  body {
      background: #f1f1f1;
      line-height: 26px;
    }
   
    p {
      font-family: verdana;
      font-size: 20px;
    }
  

  div {
      display: block;
  }
    .p1{
      color: #ffffff;
      background-color: rgb(226, 224, 224);
      border-radius: 5px;
      
      border: 5px solid rgb(241, 240, 240);
      width: 73%;
      font-family: verdana;
      text-shadow: 3px 3px #00000049;
      padding-left: 520px;
    }
    
    p {
      font-family: verdana;
      font-size: 20px;
    }
    /* Create two unequal columns that floats next to each other */
    /* Left column */
   

    
    

    /* Fake image */
    .fakeimg {

      
      width: 100%;
      height: 350px;
      padding: 2px;
      border-radius: 10px;
      -webkit-box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
      -moz-box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
      box-shadow: 3px 4px 12px 3px rgba(171,169,161,1);
    }
 
 


    /* Add a card effect for articles */
    .card {
      width: 100%;
      background-color: white;
      margin: 15px 5px;
      padding: 20px;
      margin-top: 20px;
      }
      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 500px) {
        .column {
          width: 100%;
          height: auto;
        }
      }
        /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 500px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 10;
      }
    }
  
      /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
      @media screen and (max-width: 400px) {
        .topnav a {
          float: none;
          width: 100%;
        }
      }
    
  
        .button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        
        .button2 {
          
          border: 0px ;
        }
        .button2:hover {
          -webkit-box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.75);
          -moz-box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.75);
          box-shadow: 10px 10px 40px -3px rgba(0,0,0,0.75);
        }

        .row::after {
          content: "";
          display: table;
          clear: both;
        }

      
        .fa {
          padding: 10px;
          font-size: 30px;
          width: 50px;
          text-align: center;
          text-decoration: none;
          margin: 5px 10px;
          border-radius: 50%;

        }
        
        .fa:hover {
            opacity: 0.7;
            -webkit-box-shadow: 3px 3px 31px 4px rgba(0,0,0,0.41);
            -moz-box-shadow: 3px 3px 31px 4px rgba(0,0,0,0.41);
              box-shadow: 3px 3px 31px 4px rgba(0,0,0,0.41);

          }
        
        .fa-instagram {
          color: rgb(255, 17, 0);
          
        }
        .fa-facebook {
          color: rgb(30, 57, 210);
          
        }

        .fa-linkedin {
          color: rgb(0, 2, 10);
          
        }


      
     
  
  